body {
    font-family: Arial;
    text-align: center;
}

.chat {
    width: 500px;
    margin: auto;
}

#chat-box {
    height: 200px;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px;
}

.user {
    text-align: right;
    color: blue;
}

.bot {
    text-align: left;
    color: green;
}
